@if (actions)
{
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Input new task here" @bind-value="_newTask" />
        </div>
        <div class="col">
            <input class="form-control" placeholder="Input planning day" @bind-value="_day" />
        </div>
        <div class="col col-auto">
            <button class="btn btn-outline-dark" @onclick="AddNewTaskToList">Add New Task</button>
        </div>
        <div class="col col-auto">
            <button class="btn btn-primary" @onclick="AddToDB">Save Task List</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool actions { get; set; }
    private string _day;

    private static string _searchDay = string.Empty;

    private string _newTask;



    private void AddNewTaskToList()
    {
        if (!string.IsNullOrEmpty(_newTask))
        {
            //_tasks.Add(new TaskItem(_newTask));
            //_newTask = ""; // string.Empty;
        }
    }


    private void AddToDB()
    {
        if (!string.IsNullOrEmpty(_day))
        {
            //TaskListDB.AddItem(new TaskListDB(_tasks), _day);
        }
        _day = string.Empty;
    }

    private void GetList()
    {
        //_tasks = TaskListDB.GetItem(_searchDay);
    }
}
