<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Surname</th>
            <th>Name</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
<div class="row text-center alert alert-info">
    <div class="col">
        <p>qqqqqq</p>
        <p>qqqqqq</p>
    </div>
</div>
    </tbody>
</table>
</div>

@code {
    [Parameter]
    public string Login { get; set; }
}
