@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="col">
            @DateTime.Now;
            <br>
            <a class="btn btn-primary" href="counter">@Login</a>
        </div>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code{
    public string Login = User.GetList().First().Login;
}