@inherits LayoutComponentBase
@inject SingletonService singleton

<div class="sidebar">
    <NavMenu />
</div>


<div class="main">
    @if (singleton.Name != null)
    {
        <div class="top-row">
            <div class="col text-right">
                @singleton.Name
            </div>
            <div class="col text-center">
                @singleton.Surname
            </div>
        </div>
    }
    else
    {
        <div class="top-row">
            <div class="col text-right">
               <NavLink class="col-form-label-lg" href="regist">Sign In</NavLink>
            </div>
            <div class="col text-center">
                <a class="btn btn secondary" href="counter">@Login</a>
            </div>
        </div>
    }

    <div class="content px-4">
        <CascadingValue Value="styles">
            @Body
        </CascadingValue>



    </div>
</div>



@code{
    public string Login = User.GetList()[0].Login;
    public ApplicationStyles styles = new ApplicationStyles();
    


}
