<h1>Registration/Authorisation</h1>
@inject SingletonService singleton

<div class="row borrger border-info">
    <EditForm Model="singleton" OnValidSubmit="(()=>RegistrationFlagEvent.InvokeAsync(flag))">
        <DataAnnotationsValidator />
        <div class="row">
            <InputText class="form-control" @bind-Value="singleton.Name"></InputText>
            <ValidationMessage For="()=>singleton.Name" />

        </div>
        <NavLink class="btn btn-primary" @onclick="Refresh" href="index">Save</NavLink>
    </EditForm>
</div>


@code {
    Client client = new Client();
    bool flag;
    [Parameter] public EventCallback RegistrationFlagEvent { get; set; }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }
}