<h1>Registration/Authorisation</h1>

<div class="row borrger border-info">
    <EditForm Model="client" OnInvalidSubmit="OnInvalid" OnValidSubmit="(()=>RegistrationFlagEvent.InvokeAsync(flag))">
        <DataAnnotationsValidator />
        <div class="row">
            <InputText class="form-control" @bind-Value="client.Name"></InputText>
            <ValidationMessage For="()=>client.Name" />

        </div>
        <button class="btn btn-primary">Save</button>
    </EditForm>
</div>


@code {
    Client client = new Client();
    bool flag;
    [Parameter] public EventCallback RegistrationFlagEvent { get; set; }
    public void OnInvalid()
    {
        Console.WriteLine("Invalid submit");
    }

    public void OnValid()
    {
        Console.WriteLine("Valid submit");
    }
}