@page "/buttons"
<div class="container-fluid">
    <HwButtons Button="Button" Danger="Danger" Ligth="Ligth" Primary="Primary" Toolbar="Toolbar" Dark="Dark"
               btnStyleName1="btn btn-dark"/>


</div>

@code {


}