@page "/counter"
@using System.Timers;
@implements IDisposable;
@inject GridFSService geridFSServ
@*@inject SingletonService singleton
@inject TransientService trancient*@


<div>
    <button class="btn btn-primary" @onclick="geridFSServ.DownloadImageToWWWRoot">Upload</button>
</div>


<div class="row">
    @currentCount 
</div>




@*<input @bind-value="currentCount"/>*@


@*<div class="row mt-3">
    <div class="col-6 text-center alert alert-primary">
        SingletonCount: @singleton.Value
    </div>
    <div class="col-6 text-center alert alert-danger">
        TransientCount: @trancient.Value
    </div>
</div>*@



@code {
    Timer timer;
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        timer = new Timer();
        timer.Interval = 100;
        timer.Elapsed += IncrementCount;
        timer.Start();
    }

    public void IncrementCount(object sender, ElapsedEventArgs e)
    {
        currentCount += 1;
        InvokeAsync(StateHasChanged);

    }

    public void Dispose()
    {
        if (timer.Enabled)
        {
            timer.Dispose();
        }
    }

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    Console.WriteLine(firstRender);
    //}


}
