@page "/counter"

@inject SingletonService singleton
@inject TransientService trancient

<h6>Counter</h6>

@for (int i = 0; i < 10; i++)
{
<p>Current count: @currentCount</p>
}

<button class="btn btn-primary" @onclick="@(() => singleton.Inc(ref currentCount))">Click me</button>
<br>
@*<input @bind-value="currentCount"/>*@
<ButtonGroup content="list"></ButtonGroup>

<div class="row mt-3">
    <div class="col-6 text-center alert alert-primary">
        SingletonCount: @singleton.Value
    </div>
    <div class="col-6 text-center alert alert-danger">
        TransientCount: @trancient.Value
    </div>
</div>



@code {
    private int currentCount = 0;

    private List<string> list = new List<string>() { "Add", "Edit", "Remove"};


    //private void IncrementCount()
    //{
    //    trancient.Value = currentCount;
    //    singleton.Value += currentCount;
    //}

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    Console.WriteLine(firstRender);
    //}


}
