@page "/"
@*<RegComponent RegistrationIsActive="_trigger"></RegComponent>*@

<button class="btn btn-primary" @onclick="Change">Regitration</button>

@code{
    private bool _trigger = false;

    private void Change()
    {
        _trigger = !_trigger;
    }

    protected override void OnInitialized() // срабатывает при вызове компонента, до его отрисовки
    {
        Console.WriteLine("1. On Initialized()");
    }

    protected override void OnParametersSet() // срабатывает при изменении значений полей обернутых в атрибут Parameter
    {
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender) // Срабатывает полсе полной отрисовки компонента
    {
        base.OnAfterRender(firstRender);
    }
        protected override bool ShouldRender() // запертить или разрешить ПЕРЕРИСОВККУ компонента
        {
            return base.ShouldRender();
        }


}
