@page "/index"
<RegInput RegistrationIsActive="_callReg"></RegInput>
<Authorization AuthorizationIsActive="_callAuthorization"></Authorization>

<button class="btn btn-primary" @onclick="ChangeReg">Regitration</button>
<button class="btn btn-primary" @onclick="ChangeAuthorization">Authorization</button>

@code{
    private bool _callReg = false;
    private bool _callAuthorization = false;

    private void ChangeReg()
    {
        _callReg = !_callReg;
    }
    private void ChangeAuthorization()
    {
        _callAuthorization = !_callAuthorization;
    }
}
