@page "/index"
<RegComponent RegistrationIsActive="_trigger"></RegComponent>

<button class="btn btn-primary" @onclick="Change">Regitration</button>

@code{
    private bool _trigger = false;

    private void Change()
    {
        _trigger = !_trigger;
    }

}
