@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<LoginList Logins="@User.GetListFromDb()" IsDemo="false" /> @*это наш старый, настроеный компонент, который есть в папке shared*@
@*<LoginList2 Logins2="@User.GetLoginFromDb()"/> - этого компонента нет в папке, его не существует*@

<ul class="nav flex-column">
    <li class="nav-item px-3">
        @*@User.GetLoginFromDb().ElementAt(0);*@
    </li>
    @foreach (var item in Logins2)
    {
        <li class="nav-item px-3">
            @item;
        </li>
    }
    <li class="nav-item px-3">
        3333
    </li>
    <li class="nav-item px-3">
        4444
    </li>
    <li class="nav-item px-3">
        5555
    </li>
</ul>

@code{
    //[Parameter]
    //public List<User> Logins { get; set; }

    public List<string> Logins2 = User.GetLoginFromDb();
}