@page "/list"
<h3>ListBox</h3>

<div class="row">
    <div class="col">
        @*<label>@item.Count</label><button @onclick="Another">+</button>*@
        <label class="form-check">First List</label>
        <ul class="list-group">

            @foreach (var item in listToShow1)
            {
                <li class="list-group-item">
                    <button class="btn btn-primary" @onclick="(()=>IncrementCount(item.Name))">+</button>   
                    @item.Count
                    <button class="btn btn-primary" @onclick="(()=>Replace(item.Name))">-</button>
                </li>
            }
        </ul>
    </div>
    <div class="col">
        <label class="form-check">Team</label>
        <ul class="list-group">
            @foreach (var item in listToShow2)
            {
                <li class="list-group-item"><button class="btn btn-danger">Remove @item.Name @item.SurName from TEam</button></li>
            }
        </ul>
    </div>
</div>

@code {
    List<User> listToShow1 ;
    List<User> listToShow2 = new();

    protected override void OnInitialized()
    {
        listToShow1 = User.GetList();

    }

    private void Another()
    {

    }
    private void Replace(string newItem)
    {
        var current = listToShow1.Find(x => x.Name == newItem);
        listToShow2.Add(current);
        listToShow1.Remove(current);
    }

    private void IncrementCount(string currentName)
    {
        var currentItem = listToShow1.Find(x => x.Name == currentName);
        currentItem.Inc();
        InvokeAsync(StateHasChanged);
    }


}
