@page "/regist"

<div class="container-fluid">

    <Authorization Autorization="Autorization" Register="Register"></Authorization>
    <RegInput Register="Register"></RegInput>
    @*@if (IsReg)
        {
            <RegInput Register="Register"></RegInput>
        }*@




</div>
@code {
    private string Login;
    private string Name;
    private string Surname;
    private string Phone;
    private bool _isReg;

    private void SetReg()
    {
        _isReg = !_isReg;
    }


    private void RegistrationD()
    {
        Login = "";
    }


}
