@page "/regist"
<div class="container-fluid">

    <RegistrationComponent RegistrationIsActive="_trigger"></RegistrationComponent>
    <button class="btn btn-primary" @onclick="Change">Regitration</button>
</div>
    




@code {
    private bool _isRegistration=false;
    
    private bool _trigger = false;

    private void Change()
    {
        _trigger = !_trigger;
    }

}