@page "/regist"

<h1>Registration</h1>

<h4>Login</h4>

<input @bind-value="Login"/>

<h4>Name</h4>

<input @bind-value="Name" />

<h4>Surname</h4>

<input @bind-value="Surname" />

<h4>Phone Number</h4>

<input @bind-value="Phone" />

<br />

<button class="btn btn-primary" @onclick="RegistrationD">SignIn</button>

@code {
    private string Login;
    private string Name;
    private string Surname;
    private string Phone;
    private string qq = "sdadasdads";
   
    private void RegistrationD()
    {
        Login = "";
    }
}