@page "/regist"

<div class="row">
    <EditForm Model="client" OnInvalidSubmit="OnInvalid" OnValidSubmit="OnValid">
        <DataAnnotationsValidator />
        <div class="row">
            <InputText class="form-control" @bind-Value="client.Name"></InputText>
            <ValidationMessage For="()=>client.Name" />

        </div>
        <button class="btn btn-primary" @onclick="OnValid">Save</button>
    </EditForm>
</div>


@code {
    Client client = new Client();

    public void OnInvalid()
    {
        Console.WriteLine("Invalid submit");
    }

    public void OnValid()
    {
        Console.WriteLine("Valid submit");
    }
}
