@page "/tasklist"

<div class="container-fluid">

    <HeaderComponent PlaceHolder="Введите день" btn1Name="qqqq" btn2Name="sssss" btn3Name="dddd" btnStyleName="btn btn-dark" />

    <TaskTable _tasks="list2" />


    <ActionsWithTasks actions="_isActive" isAdmin="_isAdmin" />

</div>


@code {

    private bool _isActive;
    private bool _isAdmin;

    private List<TaskItem> list2 = TaskListDB.GetItem("Monday").GetAwaiter().GetResult();



    //protected override async Task OnInitializedAsync()
    //{
    //    list = await TaskListDB.GetItem("Thuesday");
    //}

    private void AddNewTaskToList()
    {
        //if (!string.IsNullOrEmpty(_newTask))
        //{
        //    _tasks.Add(new TaskItem(_newTask));
        //    _newTask = ""; // string.Empty;
        //}
    }


    private void AddToDB()
    {
        //if (!string.IsNullOrEmpty(_day))
        //{
        //    TaskListDB.AddItem(new TaskListDB(_tasks), _day);
        //}
        //_day = string.Empty;
    }

    //private void GetList()
    //{
    //    _tasks = TaskListDB.GetItem(_searchDay);
    //}
}
