@page "/tasklist"

<div class="container-fluid">
    <div class="row">
       <div class="col col-auto">
           <table class="table table-striped">
               <thead class="table table-danger">
                   <tr>
                       <th><input class="form-control" placeholder="Input day" @bind-value="_searchDay" /></th>
                       <th><button class="btn btn-dark" @onclick="GetList">Show</button></th>
                       <th><button class="btn btn-dark">Clear</button></th>
                   </tr>
               </thead>
           </table>
       </div>
    </div>
    <div class="row">

        <div class="col">
            <h2 class="text-center">@_searchDay. </h2>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Mission</th>
                        <th>In Progress</th>
                        <th>Is Done</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @if (_tasks == null)
                {
                    <div class="row">No data</div>
                }
                else
                {
                    @foreach (var item in _tasks)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Name</td>
                                <td><input type="checkbox" @bind="item.InProgress" /></td>
                                <td><input type="checkbox" @bind="item.IsDone" /></td>
                                <td><button class="btn btn-danger" @onclick="(() => DeleteTask(item))">Delete Task</button></td>
                            </tr>
                        </tbody>
                    }
                }
            </table>

            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Input new task here" @bind-value="_newTask" />
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Input planning day" @bind-value="_day" />
                </div>
                <div class="col col-auto">
                    <button class="btn btn-outline-dark" @onclick="AddNewTaskToList">Add New Task</button>
                </div>
                <div class="col col-auto">
                    <button class="btn btn-primary" @onclick="AddToDB">Save Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<TaskItem> _tasks = TaskListDB.GetItem(_searchDay);

    private string _day;

    private static string _searchDay = string.Empty;

    private string _newTask;

    private void AddNewTaskToList()
    {
        if (!string.IsNullOrEmpty(_newTask))
        {
            _tasks.Add(new TaskItem(_newTask));
            _newTask = ""; // string.Empty;
        }
    }

    private void DeleteTask(TaskItem item)
    {
        _tasks.Remove(item);
    }

    private void AddToDB()
    {
        if (!string.IsNullOrEmpty(_day))
        {
            TaskListDB.AddItem(new TaskListDB(_tasks), _day);
        }
        _day = string.Empty;
    }

    private void GetList()
    {
        _tasks = TaskListDB.GetItem(_searchDay);
    }
}
