@page "/tasklist"
@using BlazorApp4.Data

<div class="container-fluid">
    <div class="row">
       <div class="col col-auto">
           <table class="table table-striped">
               <thead class="table table-danger">
                   <tr>
                       <th><input class="form-control" placeholder="Input day" @bind-value="_searchDay" /></th>
                       <th><button class="btn btn-dark" @*@onclick="GetList"*@>Show</button></th>
                       <th><button class="btn btn-dark">Clear</button></th>
                   </tr>
               </thead>
           </table>
       </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">@_searchDay. Count of tasks: @if(_tasks!=null) @_tasks.Count(x => !x.IsDone)</h2>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Mission</th>
                        <th>In Progress</th>
                        <th>Is Done</th>
                        <th>Actions</th>
                    </tr>
                   
                </thead>
            @if (_tasks!=null)
            {
                 @foreach (var item in _tasks)
                {
                    <tbody>
                        <tr>
                            <td>@item.Name</td>
                            <td><input type="checkbox" @bind="item.InProgress" /></td>
                            <td><input type="checkbox" @bind="item.IsDone" /></td>
                            <td><button class="btn btn-danger" @onclick="(() => DeleteTask(item))">Delete Task</button></td>
                        </tr>
                    </tbody>
                }   
            }
                
            </table>

            <div class="row">
                <div class="col">
                    <input class="form-control" placeholder="Input new task here" @bind-value="_newTask" />
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Input planning day" @bind-value="_day" />
                </div>
                <div class="col col-auto">
                    <button class="btn btn-outline-dark" @onclick="AddNewTaskToList">Add New Task</button>
                </div>
                <div class="col col-auto">
                    <button class="btn btn-primary" @onclick="AddToDB">Save Task List</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private string _newTask;
    private static string _day = string.Empty;
    private static string _searchDay = string.Empty;

    //private List<TaskItem> _tasks = TaskListDB.GetListOfItems("Monday");
    private List<TaskItem> _tasks = new List<TaskItem>();

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(2000);
        _tasks = await TaskListDB.GetItem("Monday");
    }

    private void AddNewTaskToList()
    {
        if (!string.IsNullOrEmpty(_newTask))
        {
            _tasks.Add(new TaskItem(_newTask));
            _newTask = ""; // string.Empty;
        }
    }

    private void DeleteTask(TaskItem item)
    {
        _tasks.Remove(item);
    }

    private void AddToDB()
    {
        if (string.IsNullOrEmpty(_day))
        {
            if(string.IsNullOrEmpty(_searchDay))
            { return; }
            else TaskListDB.AddItem(new TaskListDB(_tasks), _searchDay);
        }
        else
        {
            TaskListDB.AddItem(new TaskListDB(_tasks), _day);
            _day = "";
        }
        
    }
    private void GetList()
    {
        //_tasks = TaskListDB.GetListOfItems(_searchDay);
    }
}
