@page "/tasklist"

<div class="container-fluid">

    <HeaderComponent PlaceHolder="Введите день" btn1Name="qqqq" btn2Name="sssss" btn3Name="dddd" btnStyleName="btn btn-dark"/>
    <div>@_isActive</div>
    <TaskTable _tasks="list2">
        <ListNull>

        </ListNull>
        <ListEmpty>

        </ListEmpty>
    </TaskTable>

</div>

